/* @font-face {
	font-family: 'Cal Sans';
	src: url('https://raw.githubusercontent.com/calendso/font/main/fonts/otf/CalSans-SemiBold.otf');
	src: url('https://raw.githubusercontent.com/calendso/font/main/fonts/webfonts/CalSans-SemiBold.woff2')
			format('woff2'),
		url('https://raw.githubusercontent.com/calendso/font/main/fonts/webfonts/CalSans-SemiBold.woff')
			format('woff'),
		url('https://raw.githubusercontent.com/calendso/font/main/fonts/webfonts/CalSans-SemiBold.ttf')
			format('truetype');
	font-weight: 600;
	font-style: normal;
} */

html,
body {
	position: relative;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'ui-sans-serif', '-apple-system', 'Helvetica Neue', 'Segoe UI', 'Roboto', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
